body {
    margin: 0;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
    overflow: hidden;
}
nav a:hover {
    background-color: rgb(49, 46, 46);
}
nav a:active {
    color: red;

}
.size {
    width: 800px;
    margin: auto;
}
